@{
    ViewBag.Title = "CleytonFerrari.com";
}

<h2>Gerando Relatório em Excel com EPPlus</h2>

<pre>Para utilizar o EPPlus, você deve instalar o pacote via nuget: PM> Install-Package EPPlus</pre>

<ul>
    <li>
        @Html.ActionLink("Modelo 01 - Produtos", "Excel", "Home")
    </li>
   
</ul>

<em><a href="#">Mais informações sobre como gerar relatório usando o EPPlus</a></em>
